<div ng-controller = "lifetimeController">  
  <br/>
	<h2 class="ui header">
	<i class="calendar icon"></i>
	  <div class="content"> 
	  	Set Lifetime of Form 
	  	 <div class="sub header">Set when the application form is live</div>
	  </div>
	</h2>

	<select class="ui selection dropdown">
		 <option value="">Choose Application Form Type</option>
		 <option value="1">Application Form 1</option>
		 <option value="0">Application Form 2</option>
	</select>
	<br/>

  <h3>Input</h3>
  <div class="ui calendar" id="example1">
    <div class="ui input left icon">
      <i class="calendar icon"></i>
      <input type="text" placeholder="Date/Time">
    </div>
    </div>
 
</div>

 