<div class="ui vertical segment" ng-class="{loading: loading}">

	<h2 class="ui header">
	<i class="percent icon"></i>
	  <div class="content">Statistics</div>
	</h2>

	<br></br>
	<table class="ui celled structured table">
		<thead>
			<tr class="center aligned">
				<th rowspan="2">Total number of applicants</th>
				<th colspan="2">Complete Application Forms</th>
				<th rowspan="2">Incomplete Application Forms</th>
			</tr>
			<tr>
				<th class="center aligned">Regular Forms</th>
				<th class="center aligned">Applied for ERDT</th>
			</tr>
		</thead>
		<tbody>
			<tr class="center aligned">
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>

	<table class="ui celled structured table">
		<thead class = "center aligned">
			<tr>
				<th colspan="12">Percentage of Applicants who applied for Master of Science</th>
			</tr>
			<tr class="center aligned">
				<th>CE</th>
				<th>ChE</th>
				<th>CS</th>
				<th>EE</th>
				<th>EgyE</th>
				<th>EnE</th>
				<th>GmE</th>
				<th>IE</th>
				<th>MSE</th>
				<th>ME</th>
				<th>MetE</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody class="center aligned">
			<tr>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>

	<table class="ui celled structured table">
		<thead class = "center aligned">
			<tr>
				<th colspan="7">Percentage of Applicants who applied for Doctor of Philosophy</th>
			</tr>
			<tr class="center aligned">
				<th>CE</th>
				<th>ChE</th>
				<th>EEE</th>
				<th>EgyE</th>
				<th>EnE</th>
				<th>MSE</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody class="center aligned">
			<tr>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>

	<table class="ui celled structured table">
		<thead class = "center aligned">
			<tr>
				<th colspan="7">Percentage of Applicants who applied for Master of Engineering</th>
			</tr>
			<tr class="center aligned">
				<th>EE</th>
				<th>IE</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody class="center aligned">
			<tr>
				<td>-</td>
				<td>-</td>
				<td>-</td>
		</tbody>
	</table>

	<table class="ui celled structured table">
		<thead class = "center aligned">
			<tr>
				<th colspan="4">Percentage of Applicants who applied for Doctor of Engineering</th>
			</tr>
			<tr class="center aligned">
				<th>ChE</th>
				<th>EEE</th>
				<th>EgyE</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody class="center aligned">
			<tr>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>
	<br/>
	<button class="ui primary basic button">
	  <i class="file user"></i>
	  Print Statistics
	</button>
</div>